.bg-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -5;
    animation: fadeAnimation 2s ease-in-out;
  }
.bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  opacity: 0.2;
  z-index: -5;
  left: 0;
}
  
  .avatar-container {
    display: flex;
    width: 50%;
  }
  
  .avatar {
    width: 100%;
    min-width: 300px;
  }
  
  .main-home{
    width: 100%;
    height: auto;
  }

  .home-cont{
    display: flex;
    margin-top: 20px;
  }

  .avatar-container{
    width: 30%;
    display: flex;
    align-items: flex-start;
  }

  .avatar{
    width: 100%;
    height: auto;
    display: flex;
  }

  .right-container{
    width: 70%;
    display: flex;
  }
  .opening{
    width: 100%;
  }

  .line-cont-home{
    height: 100%;
    margin-right: 15px;
  }


  .contact-me-btn {
    background-color: #e66464;
    color: #fff;
    font-weight: bold;
    border: none;
    align-items: center;
    display: flex;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 1px 1px #0000001a;
    animation: pulseAnimation 1s linear 1s;
  }
  
  .contact-me-btn:hover {
    background-color: rgb(255, 147, 147);
    animation: pulseAnimation 1s infinite ease-in-out;
  }
  .contact-me-btn:active {
    background-color: #e66464;
  }
  
  @keyframes pulseAnimation {
    0% {
      box-shadow: 0 0 0 0 rgba(164, 34, 34, 0.7);
      scale: 1;
    }
  
    70% {
      box-shadow: 0 0 0 10px rgba(255, 21, 21, 0);
      scale: 1.1;
    }
  
    100% {
      box-shadow: 0 0 0 0 rgba(255, 109, 109, 0);
      scale: 1;
    }
  }
  
  @keyframes fadeAnimation {
    0% {
      opacity: 0;
      transform: translateY(-3vh);
    }
    50% {
      opacity: 1; /* Fade out */
      transform: translateY(0);
    }
    100% {
      opacity: 1; /* Fade in */
      transform: translateY(0);
    }
  }

  .top-text {
    font-size: 50px;
    margin-bottom: 0;
    text-align: left;
    font-family: "Righteous", sans-serif;
  }

  .bottom-text {
    font-size: 20px;
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
  }

  @media (max-width: 800px){
    .home-cont{
      flex-direction: column-reverse;
      padding: 20px;
      height: 100%;
      width: 100%;
    }
    .avatar-container {
      width: 100%;
      align-items: center;
      justify-content: end;
    }
    .avatar{
      width: 50%;
    }
    .right-container{
      width: 90%;
      height: 100%;
    }
    .line-cont-home{
      height: auto;
    }
  }