.bg-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -5;
    animation: fadeAnimation 2s ease-in-out;
  }
  .home-cont {
    height: 70vh;
    align-items: center;
    width: 100%;
    display: flex;
    padding-bottom: 12%;
    animation: fadeAnimation 2s ease-in-out;
  }
  .bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 0.2;
    z-index: -5;
    left: 0;
  }
  
  .avatar-container {
    display: flex;
    width: 50%;
  }
  
  .avatar {
    width: 100%;
    min-width: 300px;
  }
  
  .line-divide {
    background-color: #e66464;
    width: 0.8vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 200px;
    background: linear-gradient(#e66464, #e66464, #e66464, #e6646473, #e6646400);
  }
  
  .circle {
    background-color: rgba(230, 100, 100, 1);
    width: 3vh;
    height: 3vh;
    border-radius: 50px;
  }
  
  .right-container {
    display: flex;
    width: 100%;
    height: 50%;
    flex-direction: row;
    padding: 10px;
    align-items: center;
  }
  
  .opening {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: justify;
    line-height: auto;
  }
  
  .top-text {
    font-size: 50px;
    margin-bottom: 0;
    text-align: left;
    font-family: "Righteous", sans-serif;
  }
  
  .bottom-text {
    font-size: 20px;
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
  }
  
  .bottom-text-2 {
    font-size: 20px;
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 0;
  }
  
  .contact-me-btn {
    background-color: #e66464;
    color: #fff;
    font-weight: bold;
    border: none;
    align-items: center;
    display: flex;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 1px 1px #0000001a;
    animation: pulseAnimation 1s linear 1s;
  }
  
  .contact-me-btn:hover {
    background-color: rgb(255, 147, 147);
    animation: pulseAnimation 1s infinite ease-in-out;
  }
  .contact-me-btn:active {
    background-color: #e66464;
  }
  
  @keyframes pulseAnimation {
    0% {
      box-shadow: 0 0 0 0 rgba(164, 34, 34, 0.7);
      scale: 1;
    }
  
    70% {
      box-shadow: 0 0 0 10px rgba(255, 21, 21, 0);
      scale: 1.1;
    }
  
    100% {
      box-shadow: 0 0 0 0 rgba(255, 109, 109, 0);
      scale: 1;
    }
  }
  
  @keyframes fadeAnimation {
    0% {
      opacity: 0;
      transform: translateY(-3vh);
    }
    50% {
      opacity: 1; /* Fade out */
      transform: translateY(0);
    }
    100% {
      opacity: 1; /* Fade in */
      transform: translateY(0);
    }
  }
  
  @media (max-width: 700px) {
    .bottom-text-2 {
      line-height: 20px;
    }
  }


  @media (max-width: 540px) {
    .top-text{
      font-size: 7vh;
      margin-top: 60%;
    }
    .bottom-text{
      text-align: left;
      font-size: 2.5vh;
    }
    .top-text{
      font-size: 6vh;
    }
  }

  @media (max-width: 500px) {
    .home-cont {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
    .avatar-container {
      width: 100%;
      position: absolute;
    }
    .avatar{
      position: absolute;
      top: 0;
      margin-top: -70%;
    }
    .right-container {
      width: 90%;
    }
    .top-text {
      font-size: 40px;
    }
  
    .line-divide {
      width: 0.8vh;
    }
  
    .circle {
      width: 2vh;
      height: 2vh;
    }
  
    .bottom-text,
    .bottom-text-2 {
      font-size: 17px;
    }
    .opening{
      position: absolute;
      /* top: -25%; */
    }
  }

  @media (max-width: 430px) {
    .opening{
      /* margin-top: 0%; */
    }
  }
  @media (max-width: 414px) {
    .opening{
      /* margin-top: -50%; */
    }
  }
  @media (max-width: 412px) {
    .opening{
      /* margin-top: -50%; */
    }
  }

  @media (max-width: 344px) {
    .opening{
      /* margin-top: -50%; */
    }
  }