.project-detail-cont{
    position: relative;
}
.main-lid-cont{
    position: relative;
}
.lid-top-cont{
    width: 80vw;
    max-width: 370px;
    height: 90px;
    background-color: #E6A3AD;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    display: flex;
    justify-content: center;
    margin-top: -1%;
    position: absolute;
    transition: margin-top 0.3s ease;
}
.cicle-cont{
    position: absolute;
    margin-top: -80px;
}

.c-one, .c-two, .c-three{
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.c-one{
    width: 150px;
    height: 150px;
    background-color: #FFABB6;
    box-shadow: 0px 0px 2px 2px #b3515ea1;
} 
.c-two{
    width: 130px;
    height: 130px;
    background-color:#FFC8CF;
    box-shadow: 0px 0px 2px 2px #b3515ea1;
} 
.c-three{
    display: flex;
    width: 110px;
    height: 110px;
    background-color:#ffffff;
    box-shadow: 0px 0px 2px 2px #b3515ea1;
    
}
.lid-body-cont{
    width: 80vw;
    max-width: 370px;
    height: 400px;
    background-color: #E6A3AD;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    
}
.title-cont-pot{
    width: 80vw;
    max-width: 370px;
    height: 70px;
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-detail-cont:hover .lid-top-cont {
    margin-top: -90px;
    transition: margin-top 0.3s ease;
    
}

.pot-name{
    color: #E6A3AD;
    font-weight: bolder;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.top-pot{
    height: 70%;
    padding: 30px 15px 15px 15px;
}

.lan-cont{
    
}

.css-icon, .next-icon, .mindee-icon{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-left: 10px;
}

.react-icon{
    width: 20px;
    height: 20px;
    margin: 0;
}

.pot-date{
    color: white;
}

.pot-details{
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    font-size: 15px;
    text-align: justify;
    color: white;
}

.icon-cont-proj{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
}

.github-icon{
    margin-right: 10px;
    color: white;
}

.eye-icon{
    border: 1px solid white;
    border-radius: 100%;
    color: white;
}

@keyframes open-lid {
    0% {
        margin-top: 80px;;
    }
    100% {
      margin-top: 0;
    }
  }

  
  .c-three:hover{
    scale: 1.1;
    animation: pulseAnimation 1s infinite ease-in-out;
  }

  @keyframes pulseAnimation {
    0% {
      box-shadow: 0 0 0 0 #d62626b3;
      scale: 1;
    }
  
    70% {
      box-shadow: 0 0 0 10px #ff151500;
      scale: 1.05;
    }
  
    100% {
      box-shadow: 0 0 0 0 #ff6d6d00;
      scale: 1;
    }
  }
  
  @media (max-width: 1267px){
    .project-detail-cont{
        margin-bottom: 45%;
    }
    .first-cont-item{
        margin-top: 45%;
    }
  }